#item1000000{display:none;} /* Placeholder Pants */
#item1010026:after{content:"I don't think they have an icon for this.";} /* Maggie Skirt */
#item1020000{display:none;} /* Placeholder Shirt */
#item1020077:after{content:"I don't think they have an icon for this.";} /* Maggie Shirt */
#item2020044 .className img{margin-bottom:-255px;margin-right:-455px;} /* Japanese Billboard */
#item3020144:after{content:"These probably glow in game.";} /* Pink Glow Tube */
#item3020145:after{content:"These probably glow in game.";} /* Blue Glow Tube */
#item3020146:after{content:"These probably glow in game.";} /* Green Glow Tube */
#item3500121{display:none;} /* Invalid Item */
#item3500124{display:none;} /* Invalid Item */
#item3500195:after{content:"The item is pictured twice here. It is only one broom in game.";} /* Magic Broom */
